*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body{
    background: #241a1f;
  }
  h1{
     text-align: center;
     color: rgb(138, 142, 142);
  }
  .content{
   width: 80%;
   margin: 100px auto 50px;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   grid-gap: 30px;
   
  }
  .content .img{
    width: 100%;
    cursor: pointer;
  }
  .content .img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77, 136, 0.2);
  }