*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.ttt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-5 img-6 img-6' 'img-4 img-4 img-7 img-7' 'img-4 img-4 img-7 img-7' 'img-8 img-8 img-8 img-8' 'img-8 img-8 img-8 img-8';
}

.ttt a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ttt a i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity 0.5s;
}

.ttt a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
}

.ttt a:hover i,
.ttt a:hover::before {
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("images/one.jpg");
}

.img-2 {
    grid-area: img-2;
    background-image: url("images/two.jpg");
}

.img-3 {
    grid-area: img-3;
    background-image: url("images/three.jpg");
}

.img-4 {
    grid-area: img-4;
    min-height: 51.5rem;
    background-image: url("images/four.jpg");
}

.img-5 {
    grid-area: img-5;
    background-image: url("images/five.jpg");
}

.img-6 {
    grid-area: img-6;
    background-image: url("images/six.jpg");
}

.img-7 {
    grid-area: img-7;
    min-height: 51.5rem;
    background-image: url("images/seven.jpg");
}

.img-8 {
    grid-area: img-8;
    min-height: 51.5rem;
    background-image: url("images/eight1.jpg");
}

@media screen and (max-width:900px) {
    .ttt {
        grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-5 img-6 img-6' 'img-4 img-4 img-7 img-7' 'img-4 img-4 img-7 img-7' 'img-8 img-8 img-8 img-8';
    }
}