*{
    box-sizing: border-box;
}
.column{
    display: grid;
    
}

body{
    margin: 2;
    background-color: rgba(233, 229, 229, 0.801);
}
header{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    
    
    
    background-color:plum;
}
  header p{
    color:black;
    border: 8px solid white;
    padding: 6px;
    display: inline-block;
    border-radius: 12px;
     text-align: center;
     
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 4px;
}

.column{
    flex: 30%;
    padding: 5px 20px;
    
    border: orangered;
}
.column img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
footer p {
    font-weight: 50px;
    font-size: large;
    background-color: black;
    text-align: center;
    color: cornsilk;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 40px;

}
.img1{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img2{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img3{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img4{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img5{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img6{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img7{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img8{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img9{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img10{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img11{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img12{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img13{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img14{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.img15{
    border-radius: 1rem;
    height:225.33px;
    width:230px;
}
.column img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 5px solid rgb(241, 230, 128);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(226, 216, 216, 0.922);


}

@media screen and  (max-width:800px)  {
    .column{
        flex: 50%;
        padding: 0px 10px;
    }
    
}

@media  screen and (max-width:600px) {
    .column{
        flex: 100%;
        padding: 0px 10px;
    }
    
}