*{
    margin:0;
}

h{
    text-align: center;
   }
   p{
    font-size: 55px;
   }
   header{

    font-family: 'Dokdo', cursive;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    }
    main{
        margin-left: 120px;
          width: 100%;
          margin-top: 40px;
  }
  .box{
    width: 20%;
    float: left;
    padding: 7px;
    padding-left: 10px;  
    display: block;}
    img{
        width: 100%;
           border-radius: 4px;}
 img:hover{
            transform: scale(1.3,1.3);
            transition: .3s transform;
          
          }
                            