body {
    background-color: rgb(230 230 230);
}
.container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    height: 210px;
    width: 340px;
    margin: 6px;
    border: 8px solid white;
    box-shadow: 4px 4px 5px rgb(118, 116, 116);
}
.item:hover {
    transform: scale(1.015);
    transition: 0.3s;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
}
h1{
    margin: 10px;
}