.container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    height: 240px;
    width: 400px;
    padding: 5px;
}
.heading{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}