body {
    background-color: rgb(230 230 230);
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    height: 210px;
    width: 340px;
    margin: 6px;
    border: 8px solid white;
    box-shadow: 4px 4px 5px rgb(118, 116, 116);
}

.item:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
}

h1 {
    margin: 10px;
}

.hidden {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.hidden img {
    position: fixed;
    height: 660px;
    width: 880px;
    top: 50%;
    left: 50%;
    margin-top: -330px;
    margin-left: -440px;
    opacity: 1;
    box-shadow: 6px 6px 10px rgb(0, 0, 0, 0.6);
}

.hidden #cross{
    position: fixed;
    height: 30px;
    width: 30px;
    top: 5%;
    left: 90%;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    box-shadow: none;
}

#cross:hover{
    transform: scale(1.050);
    transition: 0.1s ease-in;
}

@media (max-width:630px){
    .hidden img{
        height: 300px;
        width: 400px;
        margin-top: -150px;
        margin-left: -200px;
    }
}

@media (min-width:630px) and (max-width:920px){
    .hidden img{
        height: 450px;
        width: 600px;
        margin-top: -225px;
        margin-left: -300px;
    }
}

