@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading{
  width: 100%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h3 span{
  font-weight: 100;
}
.container .box{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 8px;

}

.container .box .dream{

  -ms-flex: 32.5%;
  flex: 32.5%;
  max-width: 32.5%;
  padding : 0 8px;

}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

.container .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media screen and (max-width: 800px){

.container .box .dream{
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  
}





}

@media screen and (max-width: 600px){

.container .box .dream{
  -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}







}