<<<<<<< HEAD

=======
>>>>>>> ad02cf539e7ed863aa1765fbca39e622beae370d
img {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    column-count: 4;
    max-width: 1000px;
    margin: 0 auto;
<<<<<<< HEAD
    /* background: #b6d068; */
=======
    background: gainsboro;
>>>>>>> ad02cf539e7ed863aa1765fbca39e622beae370d
    padding: 30px;

}

@media screen and (max-width: 1024px) {
    .container {
        column-count: 3;
    }
<<<<<<< HEAD
    
=======

>>>>>>> ad02cf539e7ed863aa1765fbca39e622beae370d
}

@media screen and (max-width: 640px) {
    .container {
        column-count: 2;
    }

}

@media screen and (max-width: 375px) {
    .container {
        column-count: 1;
    }

}