*{
    box-sizing: border-box;
}
.column{
    display: grid;
    
}
p{
    text-shadow: 1px 1px 2px cyan;
    
}


body{
    margin: 5;
    background-color:blue;
    

}
header{
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    
    background-color: burlywood;
}
  header p{
    color:brown;
    
    padding: 0px;
    display: inline-block;
    border-radius: 10px;
     text-align: center;
     
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 2px;
}

.column{
    flex: 30%;
    padding: 5px 15px;
    border: blueviolet;
}
.column img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0.5rem;
}
footer h3 {
    font-weight: 30px;
    font-size: large;
    background-color:wheat;
    text-align:left;
    color:black;
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
    border: radius 35 px;

}


@media screen and  (max-width:800px)  
{
    .column{
        flex: 50%;
        padding: 0px 10px;
    }
    
}

@media  screen and (max-width:600px) {
    .column{
        flex: 100%;
        padding: 0px 10px;
    }
    
}
